:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: white;
  height: 50vh;
  min-height: 400px;
  background-position: center;
  background-size: cover;
}

.info {
  color: white;
  height: 50vh;
  min-height: 400px;
  margin: 0 2rem;
}

h1 {
  max-width: 360px;
  margin: 2rem auto;
}

.dokters {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
  flex-wrap: wrap;
  max-width: 1000px;
}

.dokter {
  margin: 1rem;
}

.address {
  margin: .25rem;
}

.options {
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  height: 100%;
}

.fax {
  margin: .5rem;
  font-size: 0.8rem;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin: 0 auto;
  border: 0.5rem solid;
}
