:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
}

.option {
  margin: 20px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin: 0 auto;
}
