<img src="/assets/images/profile.jpg"/>

<h1>{{ data?.title }}</h1>

<address>
  <div>{{ data?.contact?.address?.street }}</div>
  <div>{{ data?.contact?.address?.city }}</div>
</address>

<section class="options">
  <dc-appointment-button class="option" [link]="data?.contact?.appointmentLink"></dc-appointment-button>
  <div class="option">
    <dc-call-button [number]="data?.contact?.tel"></dc-call-button>
    <div *ngIf="data?.contact?.fax">Fax: {{ data?.contact?.fax | phone }}</div>
  </div>
</section>

<dc-remarks [remarks]="data?.remarks"></dc-remarks>
