<dc-load-image src="/thumbs/cover.jpg" scrThumb="/assets/images/cover.jpg"></dc-load-image>

<div class="header">
  <h1 *ngIf="data?.title">{{ data?.title }}</h1>

  <address class="address">
    <div>{{ data?.contact?.address?.street }}</div>
    <div>{{ data?.contact?.address?.city }}</div>
  </address>

  <section class="options">
    <dc-call-button [number]="data?.contact?.tel"></dc-call-button>
    <div class="fax" *ngIf="data?.contact?.fax">Fax: {{ data?.contact?.fax | phone }}</div>
  </section>
</div>

<div class="info">
  <div class="dokters">
    <section class="dokter" *ngFor="let dokter of data?.dokters">
      <img *ngIf="dokter?.picture" [attr.src]="'/assets/images/' + dokter?.picture" />
      <h2 *ngIf="data?.title">{{ dokter.title }}</h2>
      <h1 *ngIf="!data?.title">{{ dokter.title }}</h1>
      <dc-appointment-button [link]="dokter.appointmentLink"></dc-appointment-button>
    </section>
  </div>

  <dc-remarks [remarks]="data?.remarks"></dc-remarks>
</div>
